body{
    background-color: darkgray;
}

h1{
    margin: 20px;
}


.my-container{
    margin: 5%;
    float: left;
    background-color: whitesmoke;
    height: 600px;
    width: 600px;
    overflow-y: auto;
}

.my-container img{
    margin: 4%; 
    position: static;
    float:left; 
}

.my-container p{
    margin: 3%;
}

.line{
    margin-left:4%;
    height: 2px;
    width: 540px;
    justify-content: center;
    background-color: black;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(43, 39, 39);
    color: white;
    text-align: center;
}

.footer p{
    margin-top: 5px;
}